@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@layer components {
  .btn {
    @apply px-5 py-2 rounded-full font-semibold text-white text-xl;
  }
  .nevElem {
    @apply px-5 py-2 rounded-full font-normal text-white text-xl;
  }
  body {
    @apply bg-darkBlue overflow-x-hidden;
  }
}
body {
  font-family: "Poppins", sans-serif !important;
}

.flyingStar {
  animation-name: star;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 5;
}
@keyframes star {
  0% {
    left: 300px;
    top: -100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 20px;
    top: 200px;
    opacity: 0;
  }
}

.earth {
  animation-name: earth;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes earth {
  0% {
    left: -350px;
    top: 100px;
  }

  60% {
    left: -370px;
    top: 150px;
  }

  100% {
    left: -350px;
    top: 100px;
  }
}

.uranus {
  animation-name: uranus;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes uranus {
  0% {
    left: -300px;
    top: 400px;
  }

  60% {
    left: -280px;
    top: 450px;
  }

  100% {
    left: -300px;
    top: 400px;
  }
}

.spaceShip {
  animation-name: spaceShip;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spaceShip {
  0% {
    bottom: -100px;
  }

  60% {
    bottom: -80px;
  }

  100% {
    bottom: -100px;
  }
}
.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}
